

<head>
  <style media="screen" type="text/css">

  button {
    border: 6px solid white;
    margin: 20px 60px 40px 40px;
    height: 50px;
    width: 150px;
    font-size: 16px;
    font-family: sans-serif;
    background-color: black;
    color: white;
  }

body {
  background-color: #b7d1c4;
  font-family: sans-serif;
  padding: 30px;
}

h {
  color: blue;
}

  </style>

</head>


<body>

<center>

<form action="/new_contacts/" method="post">
  <button>Create New</button><br>

  Name: <input type="text" name="name">
 <br>
 <br>
  Phone number: <input type="text" name="phone_number">
 <br>
 <br>
  Email address: <input type="text" name="e-mail_address">
  <br>
  <br>
  <br>
  <!-- ________________________________________ -->
  <br>
  <br>
  <br>
  <form action="/see_contacts/" method="get">
  <button>Search Contacts</button><br>
  Name: <input type="text" name="name">
 <br>
 <br>
  Phone number: <input type="text" name="phone_number">
 <br>
 <br>
  Email address: <input type="text" name="e-mail_address">
  <br>
  <br>
</form>



</center>

  <br>
  <br>
  <br>

</body>



