<head>
  <style media="screen" type="text/css">

h1, h3 {
  color: gray;
}

  </style>

<center>

<h1> The Digital Black Book </h1>
<h3>Store your contacts online</h3>
<body><%=yield%></body>

</center>