<!doctype = html>
<head>
  <style media="screen" type="text/css">

  body {
      margin: 0 auto;
      color: gray;
    }

  </style>
</head>

<body>
<h1> The Digital Black Book </h1>
<h3>Store your contacts online</h3>

<%=yield%>

</body>
</html>

